.feedcontainer{
	height:50%;
	overflow: scroll;
}
.no-margin{
	margin: 0;
}
.event-image{
	height: 400px;
	float: left;
	width:100%;
}
.event-metadata{
	float:left;
	text-align: left;
}
.event-time{
	font-style: italic;
	font-weight: lighter;
	font-size: 0.7em;
	float:right;
}
.event-name{
}
.creator-name{
	font-weight:bold;
	display
}
.creator-username{
	font-weight: lighter;
}

.event-node{
	margin-bottom: 20px;
	background-color: #eee;
}
.hover-info{
	color: white;
	position: absolute;
	z-index: 1;
	padding:10px;
}

.blur{
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.hover-background{
	position: absolute;
	height:400px;
	width:100%;
	background-color: #2BDE73;
	opacity: 0.7;
}

