#sidebar{
  display: inline-block;
  position: relative;
  height: 100%;
}

#sidebarList{
	list-style-type: none;
	padding:0px;
}

#sidebarList li{
	line-height: 2em;
}

#sidebarList h4{
	margin: 0px;
	padding: 15px;
}

#sidebarList h4:hover{
	background-color: lightblue;
	cursor:pointer;
}

.sidebarItem:hover{
	background-color:lightgreen;
	cursor: pointer;
};