#sidebar{
  display: inline-block;
  position: relative;
  height: 100%;
  text-align:center;
}

#sidebarList{
	list-style-type: none;
	padding:0px;
}

#sidebarList li{
	line-height: 2em;

}

.sidebarHeader{
	color: #5CE6CD;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

.activeHeader{
	color: #3F3F3F;
	background-color: #CFFFF4;
}
.activeSidebar{
	background-color: #CFFFF4;
}

.sidebarItem{
}

#sidebar hr{
	width:90%;
	margin: 0px auto;
	border-color: darkgray;
}
.profileInfo{
	margin: 10px 0px;
	text-align: left;
}

.profilePic {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 10px;
  float:left;
}

.profileName{
	margin: 0px;	
	line-height: 1.5em;
	font-weight: lighter;
}

.sidebarSubheader{
	margin: 2px auto;
	width: 90%;
	cursor: pointer;
}
.sidebarSubheader:hover{
	background-color: CFFFF4;
}